@charset "utf-8";
ol,ul {
    padding:0;
    list-style:none
}
a {
    text-decoration:none;
    color:inherit;
    outline:0
}
a[href]:active,button:active {
    background-image:-webkit-linear-gradient(to top,rgba(0,0,0,.05),rgba(0,0,0,.05));
    background-image:linear-gradient(to top,rgba(0,0,0,.05),rgba(0,0,0,.05))
}
body.iphone a[href]:active,body.iphone button:active {
    background-image:none
}
i,em {
    font-style:normal
}
h1,h2,h3,h4,h5,h6,input,select,textarea {
    font-size:100%
}
blockquote,body,dd,dl,figure,form,h1,h2,h3,h4,h5,h6,ol,p,ul {
    margin:0;padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
}
input,select,textarea {
    font-family:inherit;
    box-sizing:border-box
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
    margin: 0;
    line-height: 1;
    background: #fff;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
html {
    font-size: 10px;
}
@media screen and (min-width: 321px) and (max-width: 375px) {
    html {
        font-size: 11px;
    }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
    html {
        font-size: 12px;
    }
}
@media screen and (min-width: 415px) and (max-width: 639px) {
    html {
        font-size: 15px;
    }
}
@media screen and (min-width: 640px) and (max-width: 719px) {
    html {
        font-size: 20px;
    }
}
@media screen and (min-width: 720px) and (max-width: 750px) {
    html {
        font-size: 22.5px;
    }
}
@media screen and (min-width: 750px) {
    html {
        font-size: 22.5px;
    }
}
img {  border: none;  }
a:active{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {  text-decoration: none;  }
input {  outline: medium;  }
ul {  list-style: none;  }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {  display: block;  }
a {  background-color: transparent;  }
a:active, a:hover {  outline: 0;  }
b, strong {  font-weight: normal;  }
.module-img{width: 100%;display: block;}
.module-clear-float:after{
	content: '';
	display: block;
	height:0;
    clear:both;
    visibility:hidden;
}
.module-line{
    border-bottom: 1px solid #d65e6a;
}
.module-bline{
    border-bottom: 1px solid #d5d5d5;
}
.module-content{
    min-width: 320px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    background: #410510;
}
.goods-list-li{
	width: 46%;
	padding: 2%;
	float: left;
}
.goods-detail{
	padding: .5rem 3%;
	background: #8e0e17;
}
.goods-name{
	color: #fff;
	font-size: 1.1rem;
	line-height: 1.5rem;
	height: 3rem;
	overflow: hidden;
}
.goods-price{
	font-size: 2rem;
	color: #f9f44a;
	height: 3rem;
	line-height: 3.5rem;
}
.goods-price em{
	font-size: 1.2rem;
}
.goods-price img{
	width: 2.5rem;
	height: 2.5rem;
	float: right;
	margin-top: .5rem;
}
.scroll-layer{
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.scroll-layer p{
	height: 4rem;
	line-height: 2rem;
	font-size: 1.3rem;
	padding-left: 10px;
}
.scroll-layer input{
	height: 3rem;
	line-height: 3rem;
	border: 1px solid #eee;
	width: 100%;
	outline: none;
	margin: 0;
	padding: 0 0 0 1rem;
}
.scroll-layer button{
	margin: 10px 10%;
	width: 80%;
	border: none;
	outline: none;
	background: lightblue;
	color: #fff;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 1.2rem;
}
